/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
