@charset "utf-8";

/* Imports */

@import "./header.css";
@import "./footer.css";

/* Main page */

@import "./restaurant-filtering.css";
@import "./restaurant-list.css";
@import "./map.css";

/* Inside styles */

@import "./inside-overrides.css";
@import "./restaurant-container.css";
@import "./reviews-container.css";

* {
	box-sizing: border-box;
}

/* CSS Document */

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
	padding-top: 6em;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img {
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
	display: block;
}

img {
	max-width: 100%;
}

.main-content {
  background-color: #f3f3f3;
  min-height: 100%;
}

/* Mobile layout */

@media (max-width: 600px) {
	body {
		padding-top: 3.5em;
	}
}
